---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import TagList from '../components/TagList.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <article class="prose prose-slate dark:prose-invert prose-img:rounded-md prose-a:no-underline prose-a:text-teal-700 hover:prose-a:opacity-50 mb-8">
			<h1 class="mb-2">{title}</h1>
			<div class="text-slate-400 mb-2">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<span>
							| Last updated on <FormattedDate date={updatedDate} />
						</span>
					)
				}
			</div>
			<slot />
			<hr />
			<!-- {tags && <TagList tags={tags} />} -->
    </article>

</BaseLayout>
