---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import TopicList from '../components/TopicList.astro';

type Props = CollectionEntry<'blog'>['data']  & {minutesRead: string};

const { title, description, pubDate, updatedDate, heroImage, topics, minutesRead } = Astro.props;


const showUpdatedDate = () => {
    return updatedDate && updatedDate.getTime() !== pubDate.getTime()
}
---

<BaseLayout title={title} description={description} pubDate={pubDate.toISOString()}>
    <div>
        Published <FormattedDate date={pubDate} />
        {
            showUpdatedDate() && (
                <span>
                    | Updated <FormattedDate date={updatedDate} />
                </span>
            )
        } <span>| {minutesRead}</span>
    </div>
    <h1>{title}</h1>
    {topics && topics.length > 0 && <TopicList topics={topics} />}
    <hr class="my-8" />

    <article>
            <slot />
            <hr />
    </article>
</BaseLayout>
